body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-header {
    text-align: center;
    margin-bottom: 20px;
}

.chat-body {
    overflow-y: auto;
    max-height: 300px;
    padding: 10px;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; /* Agregamos margen inferior para separar visualmente los mensajes */
    word-wrap: break-word;
    clear: both;
    width: auto;
}

.my-message {
    background-color: #007bff;
    float: left; /* Cambia 'right' por 'left' para que los mensajes propios aparezcan en el lado izquierdo */
}

.other-message {
    background-color: #373e47;
    float: right; /* Cambia 'left' por 'right' para que los mensajes de otros aparezcan en el lado derecho */
}

.message-info {
    color: #999; /* Cambiamos el color del texto de información del mensaje */
    font-size: 12px;
    margin-bottom: 5px;
}

.message-actions {
    text-align: right;
    margin-top: 5px;
}

.message-actions button {
    background-color: transparent;
    border: none;
    color: #aaa;
    cursor: pointer;
    margin-left: 5px;
    outline: none;
    transition: color 0.3s ease; /* Agregamos una transición suave para cambiar el color al pasar el ratón */
}

.message-actions button:hover {
    color: #ff5151; /* Cambiamos el color al pasar el ratón */
}

.delete-button {
    color: #ff5151; /* Cambiamos el color del botón de eliminar */
    border: 1px solid #ff5151; /* Añadimos un borde al botón de eliminar */
    border-radius: 5px; /* Añadimos bordes redondeados al botón de eliminar */
    padding: 5px 10px; /* Ajustamos el relleno del botón de eliminar */
    background-color: transparent; /* Hacemos transparente el fondo del botón de eliminar */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Agregamos transiciones suaves */
}

.delete-button:hover {
    background-color: #ff5151; /* Cambiamos el fondo al pasar el ratón */
    color: #fff; /* Cambiamos el color del texto al pasar el ratón */
    border-color: #ff5151; /* Cambiamos el color del borde al pasar el ratón */
}

#messageInput {
    width: calc(100% - 50px);
    padding: 10px;
    border: 1px solid #555;
    border-radius: 25px;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
    background-color: #333;
    color: #fff;
}

.send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.send-button:hover {
    background-color: #0056b3;
}

.clear-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    margin-left: 10px;
}

.clear-button:hover {
    background-color: #c82333;
}
