<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Python IO</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div id="container">
        <div class="chat-header">
            <h1>Socket IO Chat</h1>
        </div>
        <div class="chat-body" id="messages"></div>
        <div class="message-form">
            <div class="message-input-container">
                <input type="text" class="message-input" id="messageInput" autocomplete="off" placeholder="Type a message...">
                <button type="submit" class="send-button" id="sendButton">Send</button>
            </div>
            <button type="button" class="clear-button" id="clearButton">Delete Chat</button>
            <button id="deleteButton" class="clear-button" style="display: none;">Delete Selected</button> <!-- Botón de eliminar -->
        </div>
        
    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>
